html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, em, img, i, ol, ul, li,
form, label, article, aside,
figure, figcaption, footer,
header, main, nav, section, button {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #4da5cf url(../img/body.png) no-repeat;
    background-size: cover;
    padding-top: 23px;
}

.container{
    min-width: 480px;
    width: 480px;
}

li{
    list-style: none;
}

h2{
    @include decor(#263555, uppercase, 0, 0);
    font: 300 rem(24px) 'pathway-gothic-one';
}

h3{
    @include decor(#263555, uppercase, 0, 0);
    font: rem(18px) 'pathway-gothic-one';
}

h4{
    @include decor(#263555, uppercase, 0, 0);
    font: rem(14px) 'pathway-gothic-one';
}

p{
    @include decor(#263535, none, 0, 0);
    font: rem(14px) 'Arial';
}

a{
    @include decor(#4e5050, none, 0, 0);
    font: rem(12px) 'Arial';
}

a:hover{
    color: #38afe5;
    text-decoration: none;
    transition: all ease-in .1s;
}

input{
    @include decor(#263555, uppercase, 0, 0);
    font: rem(14px) 'Arial';
}
