@font-face {
    font-family: 'Dorsa';
    src: local('dorsa'),
         local('dorsa'),
         url('../fonts/dorsa.woff2') format('woff2'),
         url('../fonts/dorsa.woff') format('woff'),
         url('../fonts/dorsa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
         local('Open Sans'),
         url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pathway Gothic One';
    src: local('pathway'),
         local('pathway'),
         url('../fonts/pathway.woff2') format('woff2'),
         url('../fonts/pathway.woff') format('woff'),
         url('../fonts/pathway.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
