.footer-part{
    @include flex(flex, center);
    flex-wrap: wrap;
    background-color: #30455b;
    padding-top: rem(20px);
    padding-bottom: rem(35px);

    &:last-child{
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding-top: rem(28px);
        padding-bottom: rem(15px);
    }
}

.footer-list{
    margin-right: rem(50px);
    margin-bottom: rem(15px);

    &:nth-child(3){
        margin-right: 0;
    }
}

.footer-item{
    margin-bottom: rem(10px);

    &:nth-child(-n+3){
        margin-bottom: 0;
    }
}

.footer-contact{
    flex-basis: 100%;
    @include flex(flex, center, center);
}

.footer-title{
    margin-right: rem(20px);
    color: #fff;
}

.footer-text{
    margin-right: rem(35px);
    font-size: rem(10px);
    color: #fff;

    &:last-child{
        margin-right: 0;
    }
}

.footer-link{
    display: block;
    font-weight: 300;
    font-family: 'Open Sans';
    @include decor(#fff, uppercase);
}

.footer-picture{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(5px);
    vertical-align: middle;

    &:first-child{
        margin-right: 0;
    }
}

.footer-img{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    fill: #fff;
}

.social{
    @include flex(flex, center);
    margin-bottom: rem(12px);
}

.social-item{
    width: rem(27px);
    height: rem(27px);
    margin-right: rem(10px);
    border-radius: 50%;

    &:last-child{
        margin-right: 0;
    }
}

.social-link{
    @include flex(flex, center, center);
    width: rem(27px);
    height: rem(27px);
    background-color: #fff;
    border-radius: 50%;

    &:hover{
        box-shadow: inset 0 0 1rem rgba(230,146,14,0.8);
        transition: all ease-in .1s;
    }
}

.social-img{
    width: rem(10px);
    height: rem(10px);
    fill: #e4b264;
}

.footer-copyrighted{
    margin-bottom: 0;
    font-size: rem(9px);
    color: #eef5f6;
}
