.slide{
    position: relative;
    padding: rem(39px) rem(36px) rem(62px) rem(36px);
}

.carousel-inner{
    overflow: inherit;
}

.carousel-indicators{
    display: none;
}

.carousel-control-prev,
.carousel-control-next{
    display: block;
    position: absolute;
    top: 47%;
    width: 50%;
    height: 73%;
    transform: translate(0, -50%);
}

.carousel-control-prev{
    left: 7.5%;

    &:hover{
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    &:hover .arrow-left{
        opacity: 1;
        transition: all ease-in .3s;
    }
}

.carousel-control-next{
    right: 7.5%;

    &:hover{
        background: linear-gradient(to left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    &:hover .arrow-right{
        opacity: 1;
        transition: all ease-in .3s;
    }
}

.arrow-left,
.arrow-right{
    opacity: 0;
    position: absolute;
    top: 50%;
    width: rem(10px);
    height: rem(10px);
}

.arrow-left{
    left: 10%;
}

.arrow-right{
    right: 10%;
}

.slider-text{
    display: inline-block;
    position: absolute;
    top: 49%;
    left: rem(100px);
    background-color: #fff;
    padding: rem(10px) rem(5px);
    font: 300 rem(10px) 'Pathway Gothic One';
    @include decor(#344260, uppercase);
    text-shadow: none;
}

.slider-title{
    display: inline-block;
    position: absolute;
    top: 112%;
    left: rem(100px);
    background-color: #38afe5;
    padding: rem(10px) rem(5px);
    font: 300 rem(14px) 'Pathway Gothic One';
    @include decor(#fff, uppercase);
    text-shadow: none;
}
