.feature-three {
  background-color: #f5f5f5;
}

.feature-three__container {
  @include flexin(space-between);
}

.feature-three__section {
  flex-basis: 40%;
}

.feature-three__title--after:after {
  margin: 2rem 0;
}

.feature-three__text:nth-child(2) {
  margin-bottom: 2rem;
}

.feature-three__img {
  flex-basis: 40%;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
}