@font-face {
  font-family: 'opensans-bold';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSansBold.woff2') format('woff2'),
       url('../fonts/OpenSansBold.woff') format('woff'),
       url('../fonts/OpenSansBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSansRegular.woff2') format('woff2'),
       url('../fonts/OpenSansRegular.woff') format('woff'),
       url('../fonts/OpenSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
       url('../fonts/OpenSansSemiBold.woff') format('woff'),
       url('../fonts/OpenSansSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-light';
  src: url('../fonts/RalewayLight.eot');
  src: url('../fonts/RalewayLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RalewayLight.woff2') format('woff2'),
       url('../fonts/RalewayLight.woff') format('woff'),
       url('../fonts/RalewayLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

