.offer{
    @media all and (min-width: 768px){
        flex-basis: 65%;
        align-self: flex-start;
        margin-bottom: 0;
    }

    @media all and (min-width: 1024px){
        flex-basis: 70%;
    }
}

.offer-none{
    display: none;
}

.offer-section{
    margin-top: rem(36px);

    @media all and (min-width: 480px){
        display: flex;
        justify-content: space-between;
    }

    @media all and (min-width: 1024px){
        justify-content: flex-start;
    }
}

.offer-list{
    margin-bottom: rem(20px);

    &:last-child{
        margin-bottom: 0;
    }

    @media all and (min-width: 480px){
        margin-bottom: 0;
    }

    @media all and (min-width: 1024px){
        margin-right: rem(40px);
        &:last-child{
            margin-right: 0;
        }
    }
}

.offer-item{
    margin-bottom: rem(20px);
    &:last-child{
        margin-bottom: 0;
    }
}

.offer-item:before{
	content: "→";
	margin-right: 0.625rem;
    color: #38afe5;
}

.offer-link{
    font-size: rem(14px);
}
