.profile{
    flex-basis: 70%;
    margin-bottom: 50px;
}

.profile-article{
    @media (min-width: rem(768px)){
        display: flex;
        flex-wrap: wrap;
    }
}

.profile-title{
    margin-bottom: rem(20px);
}

.profile-img{
    flex-basis: 50%;
    align-self: flex-start;
    margin-bottom: rem(25px);
}

.profile-section{
    @media (min-width: rem(768px)){
        flex-basis: 50%;
    }
}

.profile-text{
    font-size: rem(12px);
    line-height: 1.5;
    color: #4e5050;
    &:last-child{
        display: none;
    }

    @media (min-width: rem(768px)){
        &:last-child{
            display: block;
            flex-basis: 100%;
        }
    }
}
