.profile{
    flex-basis: 70%;
    margin-bottom: 50px;
}

.profile-title{
    margin-bottom: rem(20px);
}

.profile-img{
    @media (min-width: rem(768px)){
        float: left;
        margin-right: rem(20px);
        margin-bottom: rem(16px);
    }

    @media (min-width: rem(1024px)){
        margin-bottom: rem(15px);
    }
}

.profile-bold{
    margin-top: rem(25px);
}

.profile-text{
    max-height: rem(125px);
    font-size: rem(12px);
    line-height: 1.5;
    color: #4e5050;
    overflow: hidden;

    @media (min-width: rem(768px)){
        overflow: inherit;
        max-height: inherit;
    }
}
