.footer-part{
    @include flex(flex, space-around);
    flex-wrap: wrap;
    background-color: #30455b;
    padding-top: rem(20px);
    padding-bottom: rem(36px);

    &:last-child{
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding-top: rem(28px);
        padding-bottom: rem(16px);
    }

    @media (min-width: rem(480px)){
        @include flex(flex, center);
    }

    @media (min-width: rem(768px)){
        justify-content: center;
    }
}

.footer-list{
    margin-bottom: rem(16px);

    &:nth-child(3){
        margin-right: 0;
    }

    @media (min-width: rem(480px)){
        margin-right: rem(50px);
    }

    @media (min-width: rem(768px)){
        align-self: flex-start;
        margin-right: rem(76px);
        margin-bottom: 0;

        &:nth-child(3){
            margin-right: rem(76px);
        }
    }
}

.footer-item{
    margin-bottom: rem(10px);

    &:last-child{
        margin-bottom: 0;
    }

    @media (min-width: rem(768px)){
        margin-bottom: rem(10px);

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.footer-contact{
    flex-basis: 100%;
    @include flex(flex, center, center);

    @media (min-width: rem(768px)){
        flex-basis: 13%;
        display: block;
    }

    @media (min-width: rem(1024px)){
        flex-basis: 10%;
        display: block;
    }
}

.footer-title{

    color: #fff;

    @media (min-width: rem(320px)){
        margin-right: 1rem;
    }

    @media (min-width: rem(480px)){
        margin-right: rem(20px);
    }

    @media (min-width: rem(768px)){
        margin-right: 0;
        margin-bottom: rem(10px);
        font-size: rem(18px);
    }
}

.footer-text{
    font-size: rem(10px);
    color: #fff;

    &:last-child{
        margin-right: 0;

    }

    @media (min-width: rem(320px)){
        margin-right: 1rem;
    }

    @media (min-width: rem(480px)){
        margin-right: rem(36px);
    }

    @media (min-width: rem(768px)){
        margin-right: 0;
        margin-bottom: rem(6px);
        font-size: rem(12px);

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.footer-link{
    display: block;
    font-weight: 300;
    font-family: 'Open Sans';
    @include decor(#fff, uppercase);

    @media (min-width: rem(768px)){
        font-size: rem(16px);
    }
}

.footer-picture{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(6px);
    vertical-align: middle;

    &:first-child{
        margin-right: 0;
    }

    @media (min-width: rem(768px)){
        display: none;
    }
}

.footer-img{
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    fill: #fff;
}

.social{
    @include flex(flex, center);
    margin-bottom: rem(24px);
}

.social-item{
    width: rem(28px);
    height: rem(28px);
    margin-right: rem(10px);
    border-radius: 50%;

    &:last-child{
        margin-right: 0;
    }

    @media (min-width: rem(768px)){
        width: rem(36px);
        height: rem(36px);
        margin-right: rem(16px);
    }

    @media (min-width: rem(1024px)){
        width: rem(40px);
        height: rem(40px);
    }
}

.social-link{
    @include flex(flex, center, center);
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;

    &:hover{
        box-shadow: inset 0 0 rem(16px) rgba(230,146,14,0.8);
        transition: all ease-in .1s;
    }

    @media (min-width: rem(768px)){
        width: 100%;
        height: 100%;
    }
}

.social-img{
    width: rem(10px);
    height: rem(10px);
    fill: #e4b264;

    @media (min-width: rem(768px)){
        width: rem(16px);
        height: rem(16px);
    }
}

.footer-copyrighted{
    margin-bottom: 0;
    font-size: rem(10px);
    color: #eef5f6;
    text-align: center;

    @media (min-width: rem(768px)){
        font-size: rem(12px);
    }
}
