.header{
    padding-top: rem(20px);
    padding-bottom: rem(40px);

    @media (min-width:rem(1024px)){
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }
}

.header-section{
    margin-bottom: rem(24px);
    text-align: center;

    @media (min-width: rem(1024px)){
        position: relative;
        margin-bottom: 0;
    }
}

.header-logo{
    display: inline-block;
    background-color: #fff;
    padding: rem(22px) rem(16px);
    @include decor(#263555, uppercase, 0, 0);
    font:  rem(32px) 'Dorsa';
    border-radius: 50%;

    &:hover{
        color: #263555;
    }

    @media (min-width: rem(576px)){
        font-size: rem(44px);
    }

    @media (min-width: rem(992px)){
        position: absolute;
        left: 50%;
        padding: rem(44px) rem(36px);
        font-size: rem(60px);
        transform: translate(-50%, 0);
    }
}

.header-list{
    @include flex(flex, space-between, center);
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    @media (min-width: rem(480px)){
        width: 75%;
    }

    @media (min-width: rem(992px)){
        justify-content: center;
        width: 100%;
        margin: rem(60px) 0;
    }
}

.header-item{
    flex-basis: 33.33%;
    margin-bottom: rem(12px);

    @media (min-width: rem(992px)){
        flex-basis: auto;
        margin-right: rem(60px);
        margin-bottom: 0;

        &:last-child{
            margin-right: 0;
        }
    }

    &:nth-child(2){
        @include flex(flex, center);
        position: relative;

        @media (min-width: rem(992px)){
            margin-left: 0;
        }
    }

    &:nth-child(3){
        @media (min-width: rem(992px)){
            margin-right: rem(240px);
        }
    }

    &:hover .dropdown{
        display: block;
    }

    &:nth-last-child(-n+3){
        margin-bottom: 0;
    }
}

.header-link{
    display: block;
    @include decor(#fff, uppercase, 0, 0);
    font: 300 rem(20px) 'Pathway Gothic One';
    transition: all .1s ease-in .1s;

    &:hover{
        color: #263555;
        transition: all ease-in .1s;
    }

    @media (min-width: rem(768px)){
        font-size: rem(24px);
    }

    @media (min-width: rem(992px)){
        font-size: rem(28px);
    }
}
