<section class="about section__padding">
  <div class="container">
    <h2 class="about__title">about us</h2>
    <p class="about__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur.</p>
    <div class="about__body">
      <div class="about__item">
        <h3 class="about__caption">July 2010</h3>
        <p class="about__subcaption">Our Humble Beginnings</p>
        <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis quam ullam consectetur incidunt. Alias accusantium repudiandae odio nemo nulla, ad, dolorum neque, sed libero velit deleniti? Voluptatem, ex fugiat?</p>
      </div>
      <div class="about__item">
        <img src="img/about-one.jpg" alt="" class="about__img">
      </div>
      <div class="about__item"></div>
      <div class="about__item"></div>
      <div class="about__item">
        <img src="img/about-two.jpg" alt="" class="about__img">
      </div>
      <div class="about__item">
        <h3 class="about__caption">January 2011</h3>
        <p class="about__subcaption">Facing Startup Battles</p>
        <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis quam ullam consectetur incidunt. Alias accusantium repudiandae odio nemo nulla, ad, dolorum neque, sed libero velit deleniti? Voluptatem, ex fugiat?</p>
      </div>
      
      
      <div class="about__item">
        <h3 class="about__caption">December 2012</h3>
        <p class="about__subcaption">Enter The Dark Days</p>
        <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis quam ullam consectetur incidunt. Alias accusantium repudiandae odio nemo nulla, ad, dolorum neque, sed libero velit deleniti? Voluptatem, ex fugiat?</p>
      </div>
      <div class="about__item">
        <img src="img/about-three.jpg" alt="" class="about__img">
      </div>
      <div class="about__item"></div>
      <div class="about__item"></div>
      <div class="about__item">
        <img src="img/about-four.jpg" alt="" class="about__img">
      </div>
      <div class="about__item">
        <h3 class="about__caption">February 2014</h3>
        <p class="about__subcaption">Our Triumph</p>
        <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis quam ullam consectetur incidunt. Alias accusantium repudiandae odio nemo nulla, ad, dolorum neque, sed libero velit deleniti? Voluptatem, ex fugiat?</p>
      </div>
      <div class="about__item"></div>
      <div class="about__item">
        <button class="about__btn btn--hover btn--active">our story continues ...</button>
      </div>
      <div class="about__item"></div>
    </div>
  </div>
</section>