<section class="contact section__padding">
  <div class="container">
    <h2 class="contact__title">about us</h2>
    <p class="subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur.</p>
    <form action="#" class="contact__form">
      <div class="contact__item">
        <div class="contact__inputs">
          <input type="text" name="name" class="contact__name" placeholder="your name*" required>
          <input type="email" name="email" class="contact__email" placeholder="your e-mail*" required>
          <input type="text" name="subject" class="contact__subject" placeholder="subject">
        </div>
        <textarea name="message" class="contact__message" placeholder="your message"></textarea>
      </div>
      <div class="contact__item">
          <input type="submit" class="contact__btn btn btn--hover btn--active" value="Send Message">
      </div>
    </form>
  </div>
</section>