<footer class="footer-page">
  <div class="container footer-page__container">
    <p class="footer-page__text">&copy; Copyright 2014 FreebiesXpress.com</p>
    <div class="footer-page__social">
        <a href="#" class="social__icon twitter twitter--hover footer-page__icon"></a>
        <a href="#" class="social__icon facebook facebook--hover footer-page__icon"></a>
        <a href="#" class="social__icon pinterest pinterest--hover footer-page__icon"></a>
        <a href="#" class="social__icon google google--hover footer-page__icon"></a>
    </div>
  </div>
</footer>