<nav class="nav">
  <a href="" class="nav__logo">Golden</a>
  <ul class="nav__list">
    <li class="nav__item nav__item--hover">
      <a href="#home" class="nav__link">home</a>
    </li>
    <li class="nav__item nav__item--hover">
      <a href="#services" class="nav__link">services</a>
    </li>
    <li class="nav__item nav__item--hover">
      <a href="#portfolio" class="nav__link">portfolio</a>
    </li>
    <li class="nav__item nav__item--hover">
      <a href="#about" class="nav__link">about</a>
    </li>
    <li class="nav__item nav__item--hover">
      <a href="#contact" class="nav__link">contact</a>
    </li>
  </ul>
</nav>