<section id="portfolio" class="portfolio section__padding">
  <div class="container">
    <h2 class="portfolio__title">our portfolio</h2>
    <p class="portfolio__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur.</p>
    <div class="portfolio__body">
      <div class="portfolio__item">
        <img src="img/portfolio-one.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Ebony Ivory</h3>
        <p class="portfolio__text">Branding</p>
      </div>
      <div class="portfolio__item">
        <img src="img/portfolio-two.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Smart Stationary</h3>
        <p class="portfolio__text">Print Design</p>
      </div>
      <div class="portfolio__item">
        <img src="img/portfolio-three.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Clever Poster</h3>
        <p class="portfolio__text">Print Design</p>
      </div>
      <div class="portfolio__item">
        <img src="img/portfolio-four.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Vinyl Record</h3>
        <p class="portfolio__text">Product Mock-Up</p>
      </div>
      <div class="portfolio__item">
        <img src="img/portfolio-five.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Treehouse Template</h3>
        <p class="portfolio__text">Web Design</p>
      </div>
      <div class="portfolio__item">
        <img src="img/portfolio-six.jpg" alt="" class="portfolio__img">
        <h3 class="portfolio__caption">Burned Logo</h3>
        <p class="portfolio__text">Branding</p>
      </div>
    </div>
  </div>
</section>