<section id="services" class="service section__padding">
  <div class="container">
    <h2 class="service__title">service</h2>
    <p class="service__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur.</p>
    <div class="service__body">
      <div class="service__item">
        <img src="img/service-one.jpg" alt="" class="service__img">
        <h3 class="service__caption">E-Commerce</h3>
        <p class="service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vel accusamus commodi.</p>
      </div>
      <div class="service__item">
        <img src="img/service-two.jpg" alt="" class="service__img">
        <h3 class="service__caption">Responsive Web</h3>
        <p class="service__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam voluptatem dolorem nisi.</p>
      </div>
      <div class="service__item">
        <img src="img/service-three.jpg" alt="" class="service__img">
        <h3 class="service__caption">Web Security</h3>
        <p class="service__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi sapiente deleniti fugiat!</p>
      </div>
    </div>
  </div>
</section>