<section class="team section__padding">
  <div class="container">
    <h2 class="team__title">our amazing team</h2>
    <p class="team__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur.</p>
    <div class="team__body">
      <div class="team__item">
        <img src="img/team.jpg" alt="" class="team__img">
        <h3 class="team__caption">Kimberly Thompson</h3>
        <p class="team__span">Marketer</p>
        <div class="team__social">
          <div class="twitter twitter--hover social__icon"></div>
          <div class="facebook facebook--hover  social__icon"></div>
          <div class="pinterest pinterest--hover  social__icon"></div>
        </div>
      </div>
      <div class="team__item">
        <img src="img/team.jpg" alt="" class="team__img">
        <h3 class="team__caption">Rico Massimo</h3>
        <p class="team__span">Coder</p>
        <div class="team__social">
          <div class="twitter twitter--hover social__icon"></div>
          <div class="facebook facebook--hover social__icon"></div>
          <div class="google google--hover social__icon"></div>
        </div>
      </div>
      <div class="team__item">
        <img src="img/team.jpg" alt="" class="team__img">
        <h3 class="team__caption">Uku Mason</h3>
        <p class="team__span">Graphic Designer</p>
        <div class="team__social">
          <div class="facebook facebook--hover social__icon"></div>
          <div class="pinterest pinterest--hover social__icon"></div>
        </div>
      </div>
    </div>
    <p class="team__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium excepturi, dignissimos tempore nisi et maxime officiis tempora? Eligendi, architecto minus?</p>
  </div>
</section>