.search{
    flex-basis: 60%;

    @media (min-width: rem(1024px)){
        @include flex(flex, flex-start, flex-start);
        flex-direction: column;
    }
}

.search-form-title{
    margin-bottom: rem(10px);
}

label[for="search-form-destination"],
label[for="search-form-price"],
label[for="search-form-departing"],
label[for="search-form-duration"]{
    width: 100%;
    margin-bottom: rem(10px);

    @media (min-width: rem(480px)){
        width: 49%;

        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }
    }

    @media (min-width: rem(1024px)){
        width: 100%;

        &:nth-last-child(-n+2){
            margin-bottom: rem(20px);
        }
    }
}

#search-form-destination,
#search-form-price,
#search-form-departing,
#search-form-duration{
    width: 100%;
    padding: rem(4px) rem(8px);
    font-size: rem(10px);

    @media (min-width: rem(480px)){
        width: 90%;
    }

    @media (min-width: rem(1024px)){
        width: 100%;
    }
}

.btn-search{
    margin-top: rem(10px);
}
