.specials{
    margin-bottom: 40px;

    @media (min-width: rem(1024px)){
        flex-basis: 78%;
        margin-bottom: 0;
    }
}

.specials-body{

    @media (min-width: rem(768px)){
        @include flex(flex, space-between);
        flex-wrap: wrap;
    }
}

.specials-item{
    margin-bottom: rem(40px);

    &:last-child{
        margin-bottom: 0;
    }

    &:nth-last-child(-n+2){
        display: none;
    }

    @media (min-width: rem(480px)){
        @include flex(flex, space-between);
    }

    @media (min-width: rem(768px)){
        width: 49%;

        &:nth-last-child(-n+2){
            @include flex(flex, space-between);
            margin-bottom: 0;
        }
    }
}

.specials-img{
    margin-bottom: rem(20px);
    flex-basis: 50%;

    @media (min-width: rem(480px)){
        margin-bottom: 0;
    }

    @media (min-width: rem(576px)){
        flex-basis: 55%;
    }

    @media (min-width: rem(768px)){
        flex-basis: 43%;
    }
}

.specials-passage{
    flex-basis: 46%;

    @media (min-width: rem(576px)){
        flex-basis: 40%;
    }

    @media (min-width: rem(768px)){
        flex-basis: 55%;
    }
}

.passage-title{
    margin-bottom: rem(25px);

    @media (min-width: rem(768px)){
        margin-bottom: rem(15px);
    }
}

.passage-text{
    margin-bottom: rem(10px);
}

.passage-span{
    display: block;
    margin-top: rem(10px);
    color: #38afe5;
    text-transform: uppercase;
}

.passage-btn{
    padding: rem(6px) rem(20px);
    font-size: 1rem;
}
