<section id="contact" class="contact section__padding section__text">
  <div class="contact__container container">
    <h2 class="contact__title title__transform title--after">contact us</h2>
    <p class="contact__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <form action="#" class="contact__form">
      <div class="contact__input">
        <input type="text" name="name" class="contact__name" placeholder="Name" required>
        <input type="email" name="email" class="contact__email" placeholder="Email" required>
        <input type="text" name="subject" class="contact__subject" placeholder="Subject" required>
      </div>
      <textarea class="contact__message" name="message" placeholder="Message"></textarea>
      <input type="submit" class="contact__btn btn btn--orange btn--hover btn--active" value="Download">
    </form>
  </div>
</section>