<footer class="footer-page">
  <div class="footer-page__container container">
    <div class="footer-page__social">
      <a href="#" class="footer-page__icon footer-page__facebook footer-page__facebook--hover"></a>
      <a href="#" class="footer-page__icon footer-page__twitter footer-page__twitter--hover"></a>
      <a href="#" class="footer-page__icon footer-page__google footer-page__google--hover"></a>
      <a href="#" class="footer-page__icon footer-page__pinterest footer-page__pinterest--hover"></a>
      <a href="#" class="footer-page__icon footer-page__instagram footer-page__instagram--hover"></a>
      <a href="#" class="footer-page__icon footer-page__stumbleupon footer-page__stumbleupon--hover"></a>
      <a href="#" class="footer-page__icon footer-page__rss footer-page__rss--hover"></a>
    </div>
    <p class="footer-page__text">&copy; 2015 Axure Themes</p>
  </div>
</footer>