<section class="process section__padding section__text">
  <div class="process-container container">
    <h2 class="process__title title__transform title--after">why this is awesome</h2>
    <p class="process__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="process__body section__body">
      <article class="process__item">
        <div class="process__img process__design"></div>
        <h3 class="process__caption">Thoughtful Design</h3>
        <p class="process__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni doloremque autem tempore officiis soluta explicabo
          laborum. Esse dolorem saepe perspiciatis enim?</p>
      </article>
      <article class="process__item">
        <div class="process__img process__crafter"></div>
        <h3 class="process__caption">Thoughtful Design</h3>
        <p class="process__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni doloremque autem tempore officiis soluta explicabo
          laborum. Esse dolorem saepe perspiciatis enim?</p>
      </article>
      <article class="process__item">
        <div class="process__img process__customize"></div>
        <h3 class="process__caption">Thoughtful Design</h3>
        <p class="process__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni doloremque autem tempore officiis soluta explicabo
          laborum. Esse dolorem saepe perspiciatis enim?</p>
      </article>
    </div>
  </div>
</section>