<form class="signup" action="#">
  <h3 class="signup__title">Try Your<span class="signup__span">Free</span>Trial Today</h3>
  <div class="signup__inp">
    <input class="signup__text signup__text--focus" type="text" name="name" placeholder="Name" required>
    <input class="signup__email" type="email" name="email" placeholder="Email" required>
    <input class="signup__password" type="password" name="password" placeholder="Password" required>
  </div>
  <input class="signup__btn signup__btn--hover signup__btn--active" type="submit" value="Get Started">
</form>