<div class="social">
  <div class="social__container container">
    <div class="social__media">
      <h3 class="social__title">Social Media</h3>
      <p class="social__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit praesentium quaerat.</p>
    </div>
    <div class="social__brandbar">
        <a href="#" class="social__icon social__facebook social__facebook--hover"></a>
        <a href="#" class="social__icon social__twitter social__twitter--hover"></a>
        <a href="#" class="social__icon social__google social__google--hover"></a>
        <a href="#" class="social__icon social__pinterest social__pinterest--hover"></a>
        <a href="#" class="social__icon social__instagram social__instagram--hover"></a>
        <a href="#" class="social__icon social__stumbleupon social__stumbleupon--hover"></a>
        <a href="#" class="social__icon social__rss social__rss--hover"></a>
    </div>
  </div>
</div>