<section class="testimonials section__padding section__text">
  <div class="testimonials__container container">
    <h2 class="testimonials__title title__transform title--after">what our customers are saying</h2>
    <p class="testimonials__subtitle subtitle__margin">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="testimonials__body section__body">
      <div class="testimonials__item">
        <p class="testimonials__text testimonials__text--after">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aut quod tempore quia praesentium error in voluptatum
          temporibus magni libero?</p>
        <div class="testimonials__part">
          <div class="testimonials__img"></div>
          <div class="testimonials__signature">
            <h3 class="testimonials__caption">Jeremy H.</h3>
            <p class="testimonials__paragraph">Manager</p>
          </div>
        </div>
      </div>
      <div class="testimonials__item">
        <p class="testimonials__text testimonials__text--after">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aut quod tempore quia praesentium error in voluptatum
          temporibus magni libero?</p>
        <div class="testimonials__part">
          <div class="testimonials__img"></div>
          <div class="testimonials__signature">
            <h3 class="testimonials__caption">John S.</h3>
            <p class="testimonials__paragraph">Freelancer</p>
          </div>
        </div>
      </div>
      <div class="testimonials__item">
        <p class="testimonials__text testimonials__text--after">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aut quod tempore quia praesentium error in voluptatum
          temporibus magni libero?</p>
        <div class="testimonials__part">
          <div class="testimonials__img"></div>
          <div class="testimonials__signature">
            <h3 class="testimonials__caption">Susan W.</h3>
            <p class="testimonials__paragraph">Photographer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>