@font-face {
  font-family: 'wisdom-script';
  src: url('../fonts/wisdom-script.eot');
  src: url('../fonts/wisdom-script.eot?#iefix') format('embedded-opentype'),
       url('../fonts/wisdom-script.woff2') format('woff2'),
       url('../fonts/wisdom-script.woff') format('woff'),
       url('../fonts/wisdom-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-regular';
  src: url('../fonts/librebaskerville-regular.eot');
  src: url('../fonts/librebaskerville-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/librebaskerville-regular.woff2') format('woff2'),
       url('../fonts/librebaskerville-regular.woff') format('woff'),
       url('../fonts/librebaskerville-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-bold';
  src: url('../fonts/librebaskerville-bold.eot');
  src: url('../fonts/librebaskerville-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/librebaskerville-bold.woff2') format('woff2'),
       url('../fonts/librebaskerville-bold.woff') format('woff'),
       url('../fonts/librebaskerville-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../fonts/poppins-regular.eot');
  src: url('../fonts/poppins-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-regular.woff2') format('woff2'),
       url('../fonts/poppins-regular.woff') format('woff'),
       url('../fonts/poppins-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-medium';
  src: url('../fonts/poppins-medium.eot');
  src: url('../fonts/poppins-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-medium.woff2') format('woff2'),
       url('../fonts/poppins-medium.woff') format('woff'),
       url('../fonts/poppins-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../fonts/poppins-semibold.eot');
  src: url('../fonts/poppins-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-semibold.woff2') format('woff2'),
       url('../fonts/poppins-semibold.woff') format('woff'),
       url('../fonts/poppins-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
