<div id="feature-one" class="feature-one section__padding">
  <div class="feature-one__container container">
    <ul class="feature-one__tab">
      <li class="feature-one__item">
        <a href="#feature-one" class="feature-one__link feature-one__link--hover feature-one__link--active link">tab 1</a>
      </li>
      <li class="feature-one__item">
        <a href="#feature-two" class="feature-one__link feature-one__link--hover feature-one__link--active">tab 2</a>
      </li>
      <li class="feature-one__item">
        <a href="#feature-three" class="feature-one__link feature-one__link--hover feature-one__link--active">tab 3</a>
      </li>
    </ul>
    <section class="feature-one__article">
      <h3 class="feature-one__title">Tabs with soft transitioning effect.</h3>
      <p class="feature-one__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores blanditiis illo quo nemo laborum nobis dolor deserunt architecto
        aperiam possimus vel excepturi est assumenda consequuntur minus ipsa sunt, incidunt hic optio. Consequuntur repudiandae
        corrupti in molestias!
      </p>
      <p class="feature-one__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae molestiae quia ex!
      </p>
      <button class="feature-one__btn btn btn--orange btn--hover btn--active">Download</button>
    </section>
    <img src="img/feature-one.png" alt="feature-one__img" class="feature-one__img">
  </div>

</div>