<div id="feature-two" class="feature-two section__padding">
  <div class="feature-two__container container">
    <img src="img/feature-two.jpg" alt="feature-two__img" class="feature-two__img">
    <section class="feature-two__section">
      <h3 class="feature-two__title feature-two__title--after title--after">Sub list section</h3>
      <p class="feature-two__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id repellendus dolorum aliquam sapiente beatae ratione et. Quaerat
        magnam veritatis optio, eos eius dolore.
      </p>
      <div class="feature-two__part">
        <div class="feature-two__item">
          <a href="#" class="feature-two__link feature__link-one"></a>
          <section class="feature-two__paragraph">
            <h4 class="feature-two__caption">Title</h4>
            <p class="feature-two__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint qui ratione vitae!</p>
          </section>
        </div>
        <div class="feature-two__item">
          <a href="#" class="feature-two__link feature__link-two"></a>
          <section class="feature-two__paragraph">
            <h4 class="feature-two__caption">Title</h4>
            <p class="feature-two__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum consectetur vero autem quisquam ratione
              doloremque, provident architecto, placeat, aliquam totam magni nemo!</p>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>