<div class="feature-three section__padding">
  <div class="feature-three__container container">
    <section class="feature-three__section">
      <h3 class="feature-three__title feature-three__title--after title--after">Standart Picture Section</h3>
      <p class="feature-three__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ab doloribus ipsum, incidunt eum sunt perferendis odit tenetur quia dicta, a, sint ex. Asperiores sapiente illo quas nam sequi ut laudantium quaerat! Asperiores optio quam adipisci?</p>
      <p class="feature-three__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, iure at?</p>
    </section>
    <img src="img/feature-three.jpg" alt="feature-three__img" class="feature-three__img">
  </div>
</div>