@font-face {
  font-family: 'ArialBold';
  src: url('../fonts/ArialBold.eot');
  src: url('../fonts/ArialBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ArialBold.woff2') format('woff2'),
       url('../fonts/ArialBold.woff') format('woff'),
       url('../fonts/ArialBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRegular';
  src: url('../fonts/ArialRegular.eot');
  src: url('../fonts/ArialRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ArialRegular.woff2') format('woff2'),
       url('../fonts/ArialRegular.woff') format('woff'),
       url('../fonts/ArialRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WisdomScript';
  src: url('../fonts/WisdomScript.eot');
  src: url('../fonts/WisdomScript.eot?#iefix') format('embedded-opentype'),
       url('../fonts/WisdomScript.woff2') format('woff2'),
       url('../fonts/WisdomScript.woff') format('woff'),
       url('../fonts/WisdomScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

