<div id="about" class="about section__padding">
  <div class="container about__container">
    <img src="img/about-img.jpg" alt="about-img" class="about__img">
    <div class="about__part">
      <article class="about__article">
        <h2 class="about__title">About Us.</h2>
        <p class="about__text">
          Analytics release series A financing launch party interaction design android angel investor. Vesting period social media
          sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply
          chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long
          tail influencer.
        </p>
        <p class="about__text">
          Monetization validation success. Seed round channels product management. Customer non-disclosure agreement strategy android
          growth hacking ramen buyer.
        </p>
      </article>
      <div class="about__lines-range">
        <div class="about__line line background__red"></div>
        <div class="about__line line background__green"></div>
        <div class="about__line line background__purple"></div>
        <div class="about__line line background__orange"></div>
      </div>
    </div>
  </div>
</div>