<section class="blog section__padding section__text">
  <div class="container">
    <h2 class="blog__title">Our Blog.</h2>
    <p class="subtitle__margin">
      We understand your requirement and provide quality works.
    </p>
    <div class="blog__body">
      <article class="blog__item">
        <div class="blog__sign">
          <img src="img/blog.jpg" alt="" class="blog__img">
          <p class="blog__inscription blog__scription color__red">
            damian schreiber
            <span class="blog__subscription">
              December 10, 2015
            </span>
          </p>
        </div>
        <div class="blog__part">
          <h3 class="blog__caption">
            Facebook`s CNN livestream will test its place in the second screen era
          </h3>
          <p class="blog__text">
            Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer itetation market analytics
            paradigm
            <a href="#" class="blog__link blog__link--hover blog__link--active color__red">
              Read full Article >>
            </a>
          </p>
        </div>
        <div class="line background__red"></div>
      </article>
      <div class="blog__info">
        <div class="blog__info-item">
          <article class="blog__article">
            <p class="blog__inscription color__green">
              damian schreiber
              <span class="blog__subscription">
                December 10, 2015
              </span>
            </p>
            <h3 class="blog__caption">
              Google Street View adds virtual reality support
            </h3>
            <p class="blog__text">
              Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer itetation market analytics
              paradigm
              <a href="#" class="blog__link blog__link--hover color__green">
                Read full Article >>
              </a>
            </p>
          </article>
          <div class="line background__green"></div>
        </div>
        <div class="blog__info-item">
          <article class="blog__article">
            <p class="blog__inscription color__purple">
              damian schreiber
              <span class="blog__subscription">
                December 10, 2015
              </span>
            </p>
            <h3 class="blog__caption">
              Google Street View adds virtual reality support
            </h3>
            <p class="blog__text">
              Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer itetation market analytics
              paradigm
              <a href="#" class="blog__link blog__link--hover color__purple">
                Read full Article >>
              </a>
            </p>

          </article>
          <div class="line background__purple"></div>
        </div>
        <div class="blog__info-item">
          <article class="blog__article">
            <p class="blog__inscription color__orange">
              damian schreiber
              <span class="blog__subscription">
                December 10, 2015
              </span>
            </p>
            <h3 class="blog__caption">
              Google Street View adds virtual reality support
            </h3>
            <p class="blog__text">
              Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer itetation market analytics
              paradigm
              <a href="#" class="blog__link blog__link--hover color__orange">
                Read full Article >>
              </a>
            </p>
          </article>
          <div class="line background__orange"></div>
        </div>
      </div>
    </div>
  </div>
</section>