<section id="focus" class="focus section__padding section__text">
  <div class="container">
    <h2 class="focus__title">Our Focus.</h2>
    <p class="focus__subtitle subtitle__margin">We understand your requirement and provide quality works.</p>
    <div class="focus__body section__body">
      <div class="focus__item">
        <article class="focus__article">
          <div class="focus__img focus__web-design"></div>
          <h3 class="focus__caption">Web Design</h3>
          <p class="focus__text">
            Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </article>
        <div class="background__red line"></div>
      </div>
      <div class="focus__item">
        <article class="focus__article">
          <div class="focus__img focus__ux-design"></div>
          <h3 class="focus__caption">UX Design</h3>
          <p class="focus__text">
            Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </article>
        <div class="background__green line"></div>
      </div>
      <div class="focus__item">
        <article class="focus__article">
          <div class="focus__img focus__photo"></div>
          <h3 class="focus__caption">Photography</h3>
          <p class="focus__text">
            Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </article>
        <div class="background__purple line"></div>
      </div>
      <div class="focus__item">
        <article class="focus__article">
          <div class="focus__img focus__app"></div>
          <h3 class="focus__caption">App Development</h3>
          <p class="focus__text">
            Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </article>
        <div class="background__orange line"></div>
      </div>
    </div>
  </div>
</section>