<footer class="footer-page">
  <div class="container footer-page__container">
    <div class="section__body footer-page__body">
      <a href="#" class="footer-page__logo">Alexis</a>
      <div class="footer-page__item">
        <h3 class="footer-page__title color__green">
          Alexis LLC.
        </h3>
        <p class="footer-page__text">
          4125 Brighton Circle Rood
        </p>
        <p class="footer-page__text">
          Little Falls, MN 56345
        </p>
      </div>
      <div class="footer-page__item">
        <h3 class="footer-page__title color__purple">
          Alexis LLC UK.
        </h3>
        <p class="footer-page__text">
          81 Golden Knowes Road
        </p>
        <p class="footer-page__text">
          Freshfield l37 6tp
        </p>
      </div>
      <div class="footer-page__item">
        <h3 class="footer-page__title color__orange">
          Follow Us.
        </h3>
        <div class="footer-page__social">
          <a href="#" class="footer-page__icons footer-page__facebook"></a>
          <a href="#" class="footer-page__icons footer-page__twitter"></a>
          <a href="#" class="footer-page__icons footer-page__instagram"></a>
          <a href="#" class="footer-page__icons footer-page__google"></a>
        </div>
      </div>
    </div>
    <div class="footer-page__lines">
      <div class="footer-page__line line background__red"></div>
      <div class="footer-page__line line background__green"></div>
      <div class="footer-page__line line background__purple"></div>
      <div class="footer-page__line line background__orange"></div>
    </div>
  </div>
</footer>