<header class="head">
  //= nav.html
  <div class="container">
    <div class="head__promo section__text">
      <h1 class="head__title">We design things with love and passion.</h1>
      <a href="#" class="head__btn btn btn--hover btn--active">our works</a>
      <div class="head__icons">
          <figure class="head__figure">
            <img class="head__img" src="img/head-one.png" alt="">
            <figcaption class="head__figcaption color__green">fixed price projects</figcaption>
          </figure>
          <figure class="head__figure">
              <img class="head__img" src="img/head-two.png" alt="">
              <figcaption class="head__figcaption color__purple">receive on time</figcaption>
            </figure>
            <figure class="head__figure">
                <img class="head__img" src="img/head-three.png" alt="">
                <figcaption class="head__figcaption color__orange">satisfaction guranteed</figcaption>
              </figure>
        </div>
    </div>
  </div>
</header>