<div class="part-two">
  <div class="container part-two__body section__text">
    <div class="part-two__item">
      <div class="part-two__icons part-two__one"></div>
      <p class="part-two__counter">12,458+</p>
      <p class="part-two__text">Projects Completed</p>
      <div class="part-two__icon part-two__red"></div>
    </div>
    <div class="part-two__item">
      <div class="part-two__icons part-two__two"></div>
      <p class="part-two__counter">1,796+</p>
      <p class="part-two__text">Satisfied Clients</p>
      <div class="part-two__icon part-two__green"></div>
    </div>
    <div class="part-two__item">
      <div class="part-two__icons part-two__three"></div>
      <p class="part-two__counter">1,000+</p>
      <p class="part-two__text">Positive Feedbacks</p>
      <div class="part-two__icon part-two__purple"></div>
    </div>
    <div class="part-two__item">
      <div class="part-two__icons part-two__four"></div>
      <p class="part-two__counter">1,500+</p>
      <p class="part-two__text">Freebies Released</p>
      <div class="part-two__icon part-two__orange"></div>
    </div>
  </div>
</div>