<section class="pricing section__padding section__text">
  <div class="container">
    <h2 class="pricing__title">Pricing Table.</h2>
    <p class="pricing__subtitle subtitle__margin">
      We understand your requiment and provide quality works.
    </p>
    <div class="pricing__body section__body">
      <div class="pricing__item">
        <div class="line background__green pricing__line"></div>
        <h3 class="pricing__caption">Starter</h3>
        <div class="pricing__img pricing__one"></div>
        <p class="pricing__text"><i class="pricing__bold-text">200GB</i>Online Storage</p>
        <p class="pricing__text"><i class="pricing__bold-text">20</i>Files Per Day</p>
        <p class="pricing__text"><i class="pricing__bold-text">2TB</i>Montly</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Secure Platform</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>24/7 Customer Support</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Fast &amp; Reliable</p>
        <button class="pricing__btn pricing__btn-green pricing__btn-green--hover btn btn--hover btn--active">get started</button>
      </div>
      <div class="pricing__item">
        <div class="line background__red pricing__line"></div>
        <h3 class="pricing__caption">Ultimate</h3>
        <div class="pricing__img pricing__two"></div>
        <p class="pricing__text"><i class="pricing__bold-text">800GB</i>Online Storage</p>
        <p class="pricing__text"><i class="pricing__bold-text">Unlimited</i>Files Per Day</p>
        <p class="pricing__text"><i class="pricing__bold-text">10TB</i>Montly</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Secure Platform</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>24/7 Customer Support</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Fast &amp; Reliable</p>
        <button class="pricing__btn pricing__btn-red pricing__btn-red--hover btn btn--hover btn--active">get started</button>
      </div>
      <div class="pricing__item">
        <div class="line background__purple pricing__line"></div>
        <h3 class="pricing__caption">Professional</h3>
        <div class="pricing__img pricing__three"></div>
        <p class="pricing__text"><i class="pricing__bold-text">200GB</i>Online Storage</p>
        <p class="pricing__text"><i class="pricing__bold-text">20</i>Files Per Day</p>
        <p class="pricing__text"><i class="pricing__bold-text">2TB</i>Montly</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Secure Platform</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>24/7 Customer Support</p>
        <p class="pricing__text"><i class="pricing__bold-text"></i>Fast &amp; Reliable</p>
        <button class="pricing__btn pricing__btn-purple pricing__btn-purple--hover btn btn--hover btn--active">get started</button>
      </div>
    </div>
  </div>
</section>