<section class="select section__padding section__text">
  <div class="container">
    <h2 class="select__title">Why Select Us?</h2>
    <p class="select__subtitle subtitle__margin">
      We understand your requirement and provide quality works.
    </p>
    <div class="select__body section__body">
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__one"></div>
          <h3 class="select__caption">Business Growth</h3>
        </div>
        <p class="select__text">
          Success scrum project funding marketing seed money 
          prototype innovator direct hackathon android angel 
          investor. 
        </p>
      </article>
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__two"></div>
          <h3 class="select__caption">Unlimited Revisions</h3>    
        </div>
        <p class="select__text">
          Technology founders churn rate niche market long tail
          release iteration burn rate backing. Churn rate 
          accelerator.
        </p>
      </article>
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__three"></div>
          <h3 class="select__caption">Ultimate Perfection</h3> 
        </div>
        <p class="select__text">
          Deployment ownership non-disclosure agreement vesting
          period crowdfunding success influencer partnership.
        </p>
      </article>
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__four"></div>
          <h3 class="select__caption">Smart Experience</h3> 
        </div>
        <p class="select__text">
          Success scrum project funding marketing seed money 
          prototype innovator direct hackathon android angel 
          investor. 
        </p>
      </article>
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__five"></div>
          <h3 class="select__caption">Strict Deadline</h3>  
        </div>
        <p class="select__text">
          Technology founders churn rate niche market long tail
          release iteration burn rate backing. Churn rate 
          accelerator.
        </p>
      </article>
      <article class="select__item">
        <div class="select__part">
          <div class="select__img select__six"></div>
          <h3 class="select__caption">Award-wining Company</h3>  
        </div>
        <p class="select__text">
          Deployment ownership non-disclosure agreement vesting 
          period crowdfunding success influencer partnership.
        </p>
      </article>
    </div>
      <div class="select__start">
        <h3 class="select__start-title">
          Start your journy with us now
        </h3>
        <button class="select__btn btn btn--hover btn--active">get started</button>
      </div>
  </div>
</section>