<section id="steps" class="steps section__padding section__text">
  <div class="container">
    <h2 class="steps__title">Work Steps.</h2>
    <p class="steps_subtitle subtitle__margin">
      We understand your requirement and provide quality works.
    </p>
    <div class="steps__item">
      <article class="steps__article steps__one">
        <h3 class="steps__caption">Project Understanding</h3>
        <p class="steps__text">
          Buyer strategy incubator niche market startup. 
          Entrepreneur non disclosure agreement MVP traction
          beta social media investor accelerator.
        </p>
      </article>
      <div class="line background__red"></div>
    </div>
    <div class="steps__item">
      <article class="steps__article steps__two">
        <h3 class="steps__caption">Research &amp; Planning</h3>
        <p class="steps__text">
          Buyer strategy incubator niche market startup. 
          Entrepreneur non disclosure agreement MVP traction
          beta social media investor accelerator.
        </p>
      </article>
      <div class="line background__green"></div>
    </div>
    <div class="steps__item">
      <article class="steps__article steps__three">
        <h3 class="steps__caption">Wireframe &amp; Design</h3>
        <p class="steps__text">
          Buyer strategy incubator niche market startup. 
          Entrepreneur non disclosure agreement MVP traction
          beta social media investor accelerator.
        </p>
      </article>
      <div class="line background__purple"></div>
    </div>
    <div class="steps__item">
      <article class="steps__article steps__four">
        <h3 class="steps__caption">Development</h3>
        <p class="steps__text">
          Buyer strategy incubator niche market startup. 
          Entrepreneur non disclosure agreement MVP traction
          beta social media investor accelerator.
        </p>
      </article>
      <div class="line background__orange"></div>
    </div>
  </div>
</section>