<section class="testimonial section__padding section__text">
  <div class="container">
    <h2 class="testimonial__title">Testimonials.</h2>
    <p class="section__subtitle subtitle__margin">
      We understand your requirement and provide quality works.
    </p>
    <div class="testimonial__slider">
        <input type="radio" id="testimonial__btn-one" name="toggle" checked>
        <input type="radio" id="testimonial__btn-two" name="toggle">
        <input type="radio" id="testimonial__btn-three" name="toggle">
        <input type="radio" id="testimonial__btn-four" name="toggle">
        <input type="radio" id="testimonial__btn-five" name="toggle">
        <input type="radio" id="testimonial__btn-six" name="toggle">
        <div class="testimonial__slider-controls">
          <label for="testimonial__btn-one"></label>
          <label for="testimonial__btn-two"></label>
          <label for="testimonial__btn-three"></label>
          <label for="testimonial__btn-four"></label>
          <label for="testimonial__btn-five"></label>
          <label for="testimonial__btn-six"></label>
        </div>
      <div class="testimonial__slider-inner">
        <div class="testimonial__slider-slides">
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Melina</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Gala</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Melina</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Melina</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Melina</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
          <div class="testimonial__slider-body">
            <img src="img/testimonials.jpg" alt="testimonials-img" class="testimonial__slider-img">
            <div class="testimonial__slider-part">
              <p class="testimolial__slider-text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A
                financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release
                client traction creative facebook monetization crowdfunding rockstar.
              </p>
              <p class="testimolial__slider-text">Melina</p>
              <p class="testimolial__slider-text">Melina Albrecht</p>
              <p class="testimolial__slider-text">Founder, TingTong</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>