.newsletter{
    background-color: #fff;

    @media (min-width: rem(1024px)){
        flex-basis: 32%;
        border: rem(1px) solid #dbdede;
    }
}

.newsletter-title{
    padding-top: rem(6px);
    padding-bottom: rem(2px);
    font: 300 rem(20px) 'Open Sans';
    @include decor(#263555, uppercase);
    text-align: center;
    border: rem(1px) solid #dbdede;
    border-bottom: 0;

    @media (min-width: rem(1024px)){
        padding-bottom: rem(4px);
        padding-left: 0;
        text-align: center;
        border: none;
        border-bottom: rem(1px) solid #dbdede;
    }
}

.newsletter-body{
    border: rem(1px) solid #dbdede;

    @media (min-width: rem(768px)){
        @include flex(flex, space-between);
        padding-top: rem(40px);
        padding-bottom: rem(30px);
    }

    @media (min-width: rem(1024px)){
        flex-direction: column;
        border: none;
    }
}

.newsletter-form{

    padding: rem(30px) rem(5px) rem(30px) rem(5px);
    border-bottom: 0;

    @media (min-width: rem(480px)){
        padding: rem(30px) rem(14px) rem(30px) rem(40px);
    }

    @media (min-width: rem(768px)){
        flex-basis: 42%;
        align-self: flex-start;
        padding: 0 0 0 1rem;
    }

    @media (min-width: rem(1024px)){
        width: 100%;
        margin-bottom: rem(46px);
    }
}

label{
    display: block;
    margin-bottom: rem(20px);
    font: rem(14px) Arial;
    color: #263555;

    @media (min-width: rem(768px)){
        font-size: rem(16px);
    }
}

input[type="email"]{
    width: 100%;
    padding: rem(6px) rem(24px);
    margin: 0 auto;
    font-size: rem(12px);
    @include decor(#868f8f);
    border: rem(1px) solid #dedbdb;
    border-radius: rem(4px);

    @media (min-width: rem(480px)){
        width: 86%;
    }

    @media (min-width: rem(768px)){
        width: 100%;
    }

    @media (min-width: rem(1024px)){
        width: 86%;
    }
}

.newsletter-list{
    padding-bottom: rem(36px);
    padding-left: rem(5px);
    columns: 1;
    column-gap: 0;
    border-top: 0;

    @media (min-width: rem(480px)){
        padding-left: rem(40px);
        columns: 2;
    }


    @media (min-width: rem(768px)){
        flex-basis: 54%;
        align-self: flex-start;
        padding-left: 0;
        padding-bottom: 0;
    }

    @media (min-width: rem(1024px)){
        margin-left: rem(16px);
        columns: 1;
    }
}

.newsletter-item{
    margin-bottom: rem(12px);

    @media (min-width: rem(480px)){

        &:nth-child(4){
            margin-bottom: 0;
        }
    }



    @media (min-width: rem(1024px)){
        margin-bottom: rem(20px);

        &:nth-child(4){
            margin-bottom: rem(20px);
        }
    }
}

.newsletter-item:before{
    display: inline-block;
	content: url(../img/right.png);
    width: rem(14px);
    height: rem(14px);
    background-color: #5abce9;
	margin-right: rem(10px);
    text-align: center;
    line-height: 0.9;
    border-radius: rem(8px);

}

.newsletter-link{
    font-size: rem(12px);

    @media (min-width: rem(768px)){
        line-height: 0.8;
    }

    @media (min-width: rem(1024px)){
        font-size: rem(16px);
    }
}
