.slider{
    background-color: #fff;
    margin-bottom: rem(60px);

    @media (min-width: rem(768px)){
        margin-bottom: rem(64px);
    }

    @media (min-width: rem(1024px)){
        margin-bottom: rem(56px);
    }
}

.carousel-inner{
    overflow: inherit;
}

.carousel-indicators{
    display: none;
}

.controls{
    @media (min-width: rem(768px)){
        display: flex;
        position: absolute;
        top: 75%;
        left: 5%;
    }
}

.carousel-control-prev,
.carousel-control-next{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 50%;
    min-height: 100%;

    @media (min-width: rem(768px)){
        position: static;
        width: rem(38px);
        min-height: 0;
        height: rem(70px);
        background-color: #38afe5;
        transition: all .1s ease-in .1s;
    }

    @media (min-width: rem(1024px)){
        width: rem(46px);
        height: rem(90px);
        background-color: #38afe5;
        transition: all .1s ease-in .1s;
    }
}

.carousel-control-prev{
    left: 0;

    &:hover{
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    &:hover .arrow-left{
        opacity: 1;
        transition: all ease-in .3s;
    }

    @media (min-width: rem(768px)){
        border-radius: 100% 0 0 100% / 50% 0 0 50%;

        &:hover{
            background-color: #193149;
        }
    }
}

.carousel-control-next{
    justify-content: flex-end;
    right: 0;

    &:hover{
        background: linear-gradient(to left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    &:hover .arrow-right{
        opacity: 1;
        transition: all ease-in .3s;
    }

    @media (min-width: rem(768px)){
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;

        &:hover{
            background-color: #193149;
        }
    }
}

.arrow-left,
.arrow-right{
    opacity: 0;
    width: rem(10px);
    height: rem(10px);

    @media (min-width: rem(768px)){
        opacity: 1;
    }

    @media (min-width: rem(1024px)){
        opacity: 1;
        width: rem(16px);
        height: rem(16px);
    }
}

.arrow-left{
    margin-left: rem(20px);
    @media (min-width: rem(768px)){
        left: 55%;
    }
}

.arrow-right{
    margin-right: rem(20px);

    @media (min-width: rem(768px)){
        right: 55%;
    }
}

.carousel-caption{
    position: absolute;
    right: 12%;
    bottom: -19%;
    left: 24%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;

    @media (min-width: rem(240px)){
        right: 16%;
        bottom: -12%;
    }

    @media (min-width: rem(280px)){
        right: 27%;
    }

    @media (min-width: rem(320px)){
        right: 35%;
    }

    @media (min-width: rem(360px)){
        right: 40%;
        bottom: -10%;
    }

    @media (min-width: rem(375px)){
        right: 42%;
    }

    @media (min-width: rem(412px)){
        right: 45%;
        bottom: -8%;
    }

    @media (min-width: rem(480px)){
        right: 27%;
        bottom: -7%;
        left: 45%;
    }

    @media (min-width: rem(540px)){
        right: 31%;
    }

    @media (min-width: rem(576px)){
        right: 32%;
    }

    @media (min-width: rem(768px)){
        top: 35%;
        left: 0;
        right: 70%;
    }

    @media (min-width: rem(992px)){
        right: 78%;
    }

    @media (min-width: rem(1024px)){
        right: 68%;
    }

    @media (min-width: rem(1200px)){
        right: 74%;
    }
}

.slider-text{
    display: inline-block;
    background-color: #fff;
    padding: rem(6px) rem(2px);
    font: 300 rem(10px) 'Pathway Gothic One';
    @include decor(#344260, uppercase);
    text-shadow: none;

    @media (min-width: rem(480px)){
        padding: rem(10px) rem(6px);
    }

    @media (min-width: rem(768px)){
        font-size: rem(18px);
    }

    @media (min-width: rem(1024px)){
        font-size: rem(22px);
    }
}

.slider-title{
    background-color: #38afe5;
    padding: rem(6px) rem(2px);
    font: 300 rem(14px) 'Pathway Gothic One';
    @include decor(#fff, uppercase);
    text-shadow: none;

    @media (min-width: rem(480px)){
        padding: rem(10px) rem(6px);
    }

    @media (min-width: rem(768px)){
        font-size: rem(24px);
    }

    @media (min-width: rem(1024px)){
        font-size: rem(34px);
    }
}
