.tabs{
    background-color: #fff;
    margin-bottom: rem(36px);

    @media all and (min-width: 768px){
        margin-bottom: rem(80px);
    }

    @media all and (min-width: 1024px){
        flex-basis: 66%;
        margin-bottom: 0;
    }
}

.nav-tabs .nav-link{
    padding: rem(2px);

    @media all and (min-width: 280px){
        padding: rem(4px);
    }

    @media all and (min-width: 320px){
        padding: rem(4px) rem(10px);
    }

    @media all and (min-width: 480px){
        padding: rem(4px) rem(16px);
    }

    @media all and (min-width: 768px){
        padding: rem(10px) rem(30px);
    }

    @media all and (min-width: 992px){
        padding: rem(4px) rem(30px);
    }
}

.nav-title{
    @media all and (min-width: 768px){
        font-size: 22px;
    }
}

.nav-title:hover{
    color: #45b4e7;
}

.active .nav-title:hover{
    color: #263555;
}

.tab-content{
    border: rem(1px) solid #dedbdb;
    border-top: 0;
}

.tab-post{
    padding: rem(30px) rem(25px) 0 rem(25px);
    margin-bottom: rem(32px);

    &:last-child{
        padding-top: 0;
    }

    @media all and (min-width: 768px){
        @include flex(flex, space-between);
        padding: rem(46px) rem(16px) 0 rem(16px);
        margin-bottom: rem(46px);
    }
}

.tab-img{
    margin-bottom: rem(14px);

    @media all and (min-width: 768px){
        align-self: flex-start;
        flex-basis: 40%;
        margin-bottom: 0;
    }
}

.tab-info{
    text-align: right;

    @media all and (min-width: 480px){
        @include flex(flex, space-between);
        align-self: flex-start;
    }

    @media all and (min-width: 768px){
        display: block;
        flex-basis: 56%;
        text-align: right;
    }
}

.article-post{
    flex-basis: 65%;
    margin-bottom: rem(6px);
    text-align: left;
}

.tab-title{
    margin-bottom: rem(8px);
    font: rem(10px) Arial;
    @include decor(#263555);

    @media all and (min-width: 768px){
        margin-bottom: rem(20px);
        font-size: rem(18px);
        text-align: left;
    }
}

.tab-passage{
    margin-bottom: rem(4px);
    font-size: rem(8px);
    line-height: 1.5;
    color: #000;

    &:last-child{
        margin-bottom: 0;
        color: #4e5050;
    }

    @media all and (min-width: 768px){
        margin-bottom: rem(20px);
        font-size: rem(12px);
        text-align: left;

        &:last-child{
            margin-bottom: rem(20px);
        }
    }
}

.tab-link{
    margin-right: rem(2px);
    font-size: rem(8px);
    color: #fa7e7e;

    @media all and (min-width: 768px){
        margin-right: rem(2px);
        font-size: rem(12px);
    }
}

.tab-btn{
    align-self: flex-end;
    margin-right: 0;
    font-size: rem(8px);

    @media all and (min-width: 768px){
        font-size: rem(14px);
    }
}
