.tabs{
    background-color: #fff;
    margin-bottom: rem(36px);

    @media (min-width: rem(768px)){
        margin-bottom: rem(80px);
    }

    @media (min-width: rem(1024px)){
        flex-basis: 66%;
        margin-bottom: 0;
    }
}

.nav-tabs .nav-link{
    padding: rem(3px) rem(16px);

    @media (min-width: rem(768px)){
        padding: rem(10px) rem(30px);
    }
}

.nav-title{
    @media (min-width: rem(768px)){
        font-size: 22px;
    }
}

.nav-title:hover{
    color: #45b4e7;
}

.active .nav-title:hover{
    color: #263555;
}

.tab-content{
    border: rem(1px) solid #dedbdb;
    border-top: 0;
}

.tab-post{
    padding: rem(31px) rem(25px) 0 rem(25px);
    margin-bottom: rem(32px);

    &:last-child{
        padding-top: 0;
        margin-bottom: 0;
    }

    @media (min-width: rem(768px)){
        display: flex;
        justify-content: space-between;
        padding: rem(45px) rem(15px) 0 rem(15px);
        margin-bottom: rem(45px);
    }
}

.tab-img{
    margin-bottom: rem(13px);
    @media (min-width: rem(768px)){
        align-self: flex-start;
        flex-basis: 40%;
        margin-bottom: 0;
    }
}

.tab-info{
    @include flex(flex, space-between);
    align-self: flex-start;
    @media (min-width: rem(768px)){
        display: block;
        flex-basis: 56%;
        text-align: right;
    }
}

.article-post{
    flex-basis: 65%;
}

.tab-title{
    margin-bottom: rem(7px);
    font: rem(10px) Arial;
    @include decor(#263555);
    @media (min-width: rem(768px)){
        margin-bottom: rem(20px);
        font-size: rem(17px);
        text-align: left;
    }
}

.tab-passage{
    margin-bottom: rem(3px);
    font-size: rem(7px);
    line-height: 1.5;
    color: #000;

    &:last-child{
        margin-bottom: 0;
        color: #4e5050;
    }

    @media (min-width: rem(768px)){
        margin-bottom: rem(20px);
        font-size: rem(12px);
        text-align: left;
        &:last-child{
            margin-bottom: rem(20px);
        }
    }
}

.tab-link{
    margin-right: rem(2px);
    font-size: rem(7px);
    color: #fa7e7e;

    @media (min-width: rem(768px)){
        margin-right: rem(2px);
        font-size: rem(12px);
    }
}

.tab-btn{
    align-self: flex-end;
    margin-right: 0;
    font-size: rem(7px);
    @media (min-width: rem(768px)){
        font-size: rem(14px);
    }
}
