.map{
    @media all and (min-width: 768px){
        flex-basis: 100%;
    }
    @media all and (min-width: 1024px){
        flex-basis: 50%;
        order: -1;
    }
}

.map-iframe{
    @media all and (min-width: 768px){
        height: rem(400px);
    }
}
