.map{
    @media (min-width: rem(768px)){
        flex-basis: 100%;
    }
    @media (min-width: rem(1024px)){
        flex-basis: 50%;
        order: -1;
    }
}

.map-iframe{
    @media (min-width: rem(768px)){
        height: rem(400px);
    }
}
